body{
    background-color: #F891A5;
}
.bar1,
.bar2{
    display: block;
    background-color: #FDB3C2;
    height: 41px;
    width: 100%;
}
.bar1{
    position: fixed;
    top: 0;
    left: 0;
}
.bar2{
    position: fixed;
    bottom: 0;
    left: 0;
}
.center{
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text{
 display: block;
}
.btn-img{
    /* width: 200px; */
    display: block;
    transition: transform 0.3s ease;
}

.btn-img:hover{
    transform: scale(1.1);
}
.logo{
    transition: transform 0.3s ease;
}

.logo:hover{
    transform: rotate(5deg);
}